fieldset {
    text-align: center;
    width: 50rem;
    border-style: groove;
}
legend {
    color: map-get($colors, paragraph);
    font-size: 2em;
}
input {
    height: 50px;
    padding: 0.50rem;
    font-size: 2em !important;
    margin: 0.5rem;
}
label {
    color: map-get($colors, paragraph);
    font-size: 2.3em;
}
.contact__fieldset-position {
    display: block;
    position: relative;
    left: 38vw;
    top: 2vh;
}
textarea {
    font-size: 2em !important;
}
.contact__btn-sizing {
    @include  socials (100px, 50px);
    font-size: 2em;
}